{sys, [
  {lib_dirs, []},
  {rel, "atlog", "1",
    [
      kernel,
      stdlib,
      sasl
    ]},
  {rel, "start_clean", "",
    [
      kernel,
      stdlib
    ]},
  {boot_rel, "atlog"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
    "^erts.*/bin/(dialyzer|typer)"]},
  {app, sasl, [{incl_cond, include}]},
  {app, atlog, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
  {app, erlog, [{incl_cond, include}, {app_file, strip}, {lib_dir, "../deps/erlog"}, {debug_info, strip}]},
  {app, crontab, [{incl_cond, include}, {app_file, strip}, {lib_dir, "../deps/crontab"}, {debug_info, strip}]}
]}.

{target_dir, "atlog"}.

{overlay, [
  {mkdir, "log/sasl"},
  {mkdir, "conf"},
  {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/atlog", "bin/atlog"},
  {copy, "files/app.config", "etc/app.config"},
  {copy, "files/vm.args", "etc/vm.args"},
  {copy, "../conf/db.conf", "conf"},
  {copy, "../conf/erlog.conf", "conf"}
]}.
